@use "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

article {
   @include mixins.d-f(row, center, center, 0, 0);
   width: 100vw;
   height: 100vh;
}
.login-container {
  @include mixins.d-f(column, center, center, 0, 20px);
  border: 1px $primaryGreen solid;
  border-radius: 24px;
  padding: 30px 30px;
  width: fit-content;

  .header {
    @include mixins.typography(
      "Courier New",
      normal,
      800,
      25px,
      _,
      green,
      center,
      _
    );
  }
  .login-form {
   @include mixins.d-f(column, center, center, 0, 8px);

  }
  .username-label,
  .password-label {
    @extend .header;
    font-size: 18px;
   }
   
   .error{
     @extend .header;
     font-size: 12px;
     color: red;

  }

  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    outline: none;

    &:focus {
      border-color: $primaryGreen;
    }
  }

  .login-btn {
    background-color: $primaryGreen; 
    color: #fff; 
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    outline: none;

    &:hover {
      background-color: #45a049; 
    }

    &:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    }
  }
}
